# Data files (Don't push 19k images to GitHub!)
Data/
Data/raw/
Data/cleaned/
Data/train/
Data/val/
Data/test/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Large model files
*.pth
*.h5

# OS files
.DS_Store
Thumbs.db
